{"filter":false,"title":"deploy_rotate.launch","tooltip":"/lab1/aws-robomaker-sample-application-cloudwatch/robot_ws/src/cloudwatch_robot/launch/deploy_rotate.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1613691887496,"hash":"43663300393dcc3160c360049d87f425a173e21b"}