{"filter":false,"title":"rotate.launch","tooltip":"/lab1/aws-robomaker-sample-application-cloudwatch/robot_ws/src/cloudwatch_robot/launch/rotate.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[{"start":{"row":1,"column":4},"end":{"row":3,"column":3},"placeholder":"..."},{"start":{"row":5,"column":4},"end":{"row":13,"column":3},"placeholder":"..."}],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":30,"column":0},"end":{"row":30,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1612145539481,"hash":"11bfebf45f56b0b714526f089a80378471864820"}