<?xml version='1.0' encoding='us-ascii'?>
<model>
    <name>SofaTables_O37bb89b6452b_lod0</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>AWS Robotics Simulation Maintainers</name>
        <email>aws-robotics-simulation-maintainers@amazon.com</email>
    </author>
    <description />
</model>